.navbar-brand{
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 32;
}

.nav-item{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}
.nav-item .nav-link.active{
    font-weight: 600;
    color: #fcbb3a;
}
.nav-link{
    color: #000000;
}
.nav-link:hover{
    color: #fcbb3a;
}

.hero-section{
    margin-top: 50px;
}
.hero-section h1{
    font-family: 'poppins';
    font-weight: 600;
    font-size: 54px;
}
.hero-section .btn{
    border-radius: 0px 18px 18px 0px;
    margin-left: 15px;
}
.hero-section .btn-cta{
    margin-top: 110px;
}
.popular-products{
    padding-top: 30px;
    padding-bottom: 42px;
}
.component-products{
    margin-top: 60px;
    margin-bottom: 46px;
    background: #ffffff;
    border-radius: 6px;
    border: #000000;
    padding-bottom: 50px;
    padding-top: 80px;

    transition: all 0.2s ease-in-out;
}

.component-products:hover{
    text-decoration: none;
    transform: scale(1.1);
}
.products-img{
    border-radius: 6px 6px;
    margin-left: 25px;
    margin-top: 50px;

    background-color: #EBD09C;
    transition: all 0.3s ease;
}
.products-price{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #000000;

    margin-left: 25px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 25px;

    background-color: #fcbb3a;
}
.footer .btn{
    margin-top: 200px;
    position: center;
    margin-left: 450px;

}
.footer-small{
    background-color: #091C7D;
    padding-left: 600px;
    padding-right: 600px;
    text-align: center;

    margin-top: 50px;
    padding-bottom: 20px;
}